<%- include('header') %>
        <h1 class="vagas">Vagas Disponiveis</h1>
        <div>
        <% categorias.forEach( categoria => { %>
            
            <div class="card">
            <h3><%- categoria.categoria %></h3>
            <ul>
                <% categoria.vagas.forEach(vaga => { %>
                    <li><a href="/vaga/<%- vaga.id %>"><%- vaga.titulo %></a></li>
                <% }) %>
            </ul>
            </div>

        <% }) %>
        </div>
<%- include('footer') %>